<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="/css/theme.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a><a href="/storefront">Storefront</a>
      <a href="/list">List</a>
      <a href="/table">Table</a>
      <a href="/form">Contact Us</a>
    </nav>
    <h1 class="header-welcome">SHOPPING CART</h1>
    <p class="progress-container">Stayed Tuned...</p>
  </body>
</html>
