<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/theme.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a><a href="/storefront">Storefront</a>
      <a href="/list">List</a>
      <a href="/table">Table</a>
    </nav>
    <h1 class="header-welcome">WELCOME!</h1>
    <p class="welcome">
      I have created a web server using Node.js & Express.js and client specific
      request routes.
    </p>
    <h2 class="header-reflection">REFLECTION</h2>
    <p class="reflection">
      This is Assignment 4, where I am using CSS to create visually appealing
      webpages. I have enhanced my Assignment 3 by incorporating CSS and
      Bootstrap to enhance its aesthetic appeal.
    </p>
    <h2 class="header-about">ABOUT ME</h2>
    <p class="about-me">
      Name:<em> Gladwin Chan</em><br />Student Number: <b>130839228</b>
      <br />Program: <em>Computer Programming & Analysis </em>
    </p>
  </body>
</html>
