<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/theme.css" />
    <title>Storefront</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a><a href="/storefront">Storefront</a>
      <a href="/list">List</a>
      <a href="/table">Table</a>
      <a href="/form">Contact Us</a>
    </nav>
    <div class="container">
      <h1>STOREFRONT</h1>
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <img
              src="https://upload.wikimedia.org/wikipedia/en/7/79/Drake_-_Certified_Lover_Boy.png"
              class="card-img-top"
              alt="album1" />
            <div class="card-body">
              <h5 class="card-title">Drake: Certified Lover Boy</h5>
              <p class="card-text">
                Price: $10.99 <br />
                Genre: Hip-Hop <br />
                Tracks: 21 tracks <br />
                Released: 2021
              </p>
              <a href="cart" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img
              src="https://upload.wikimedia.org/wikipedia/en/8/83/HNDRXX_cover.jpg"
              class="card-img-top"
              alt="album2" />
            <div class="card-body">
              <h5 class="card-title">Future: Hndrxx</h5>
              <p class="card-text">
                Price: $10.99 <br />
                Genre: Hip-Hop <br />
                Tracks: 19 tracks <br />
                Released: 2017
              </p>
              <a href="cart" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img
              src="https://upload.wikimedia.org/wikipedia/en/0/0b/Astroworld_by_Travis_Scott.jpg"
              class="card-img-top"
              alt="album3" />
            <div class="card-body">
              <h5 class="card-title">Travis Scott: Astroworld</h5>
              <p class="card-text">
                Price: $10.99 <br />
                Genre: Hip-Hop <br />
                Tracks: 17 tracks <br />
                Released: 2018
              </p>
              <a href="cart" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img
              src="https://upload.wikimedia.org/wikipedia/en/5/5e/Mac_Miller_-_Swimming.png"
              class="card-img-top"
              alt="album4" />
            <div class="card-body">
              <h5 class="card-title">Mac Miller: Swimming</h5>
              <p class="card-text">
                Price: $13.99 <br />
                Genre: Hip-Hop <br />
                Tracks: 13 tracks <br />
                Released: 2018
              </p>
              <a href="cart" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img
              src="https://upload.wikimedia.org/wikipedia/en/5/5f/Catch_These_Vibes_%E2%80%93_PnB_Rock.jpg"
              class="card-img-top"
              alt="album5" />
            <div class="card-body">
              <h5 class="card-title">PnB Rock: Catch These Vibes 1</h5>
              <p class="card-text">
                Price: $18.99 <br />
                Genre: RnB <br />
                Tracks: 18 tracks <br />
                Released: 2017
              </p>
              <a href="cart" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img
              src="https://media.pitchfork.com/photos/638902d2e5592afa444298b9/1:1/w_600/SZA-SOS.jpg"
              class="card-img-top"
              alt="album6" />
            <div class="card-body">
              <h5 class="card-title">SZA: SOS</h5>
              <p class="card-text">
                Price: $22.99 <br />
                Genre: RnB <br />
                Tracks: 23 tracks <br />
                Released: 2022
              </p>
              <a href="cart" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img
              src="https://upload.wikimedia.org/wikipedia/en/9/9c/Partynextdooralbum.jpg"
              class="card-img-top"
              alt="album7" />
            <div class="card-body">
              <h5 class="card-title">PARTYNEXTDOOR: PND1</h5>
              <p class="card-text">
                Price: $11.99 <br />
                Genre: RnB <br />
                Tracks: 17 tracks <br />
                Released: 2018
              </p>
              <a href="cart" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img
              src="https://upload.wikimedia.org/wikipedia/en/6/60/Coldplay_-_A_Rush_of_Blood_to_the_Head_Cover.png"
              class="card-img-top"
              alt="album8" />
            <div class="card-body">
              <h5 class="card-title">
                Coldplay: A Rush of Blood to the Head 1
              </h5>
              <p class="card-text">
                Price: $15.99 <br />
                Genre: Pop <br />
                Tracks: 11 tracks <br />
                Released: 2002
              </p>
              <a href="cart" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img
              src="https://i.scdn.co/image/ab67616d0000b2739b9b36b0e22870b9f542d937"
              class="card-img-top"
              alt="album9" />
            <div class="card-body">
              <h5 class="card-title">Daft Punk: Random Access Memories</h5>
              <p class="card-text">
                Price: $20.99 <br />
                Genre: Electronic <br />
                Tracks: 13 tracks <br />
                Released: 2013
              </p>
              <a href="cart" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Continuum_by_John_Mayer_%282006%29.jpg"
              class="card-img-top"
              alt="album10" />
            <div class="card-body">
              <h5 class="card-title">John Mayer: Continuum</h5>
              <p class="card-text">
                Price: $24.99 <br />
                Genre: Pop <br />
                Tracks: 12 tracks <br />
                Released: 2006
              </p>
              <a href="cart" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img
              src="https://upload.wikimedia.org/wikipedia/en/e/e8/Miguel-Kaleidoscope_Dream.jpg"
              class="card-img-top"
              alt="album11" />
            <div class="card-body">
              <h5 class="card-title">Miguel: Kaleidoscope Dream</h5>
              <p class="card-text">
                Price: $220.99 <br />
                Genre: RnB <br />
                Tracks: 11 tracks <br />
                Released: 2012
              </p>
              <a href="cart" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img
              src="https://upload.wikimedia.org/wikipedia/en/3/3c/Giveon_-_Take_Time.png"
              class="card-img-top"
              alt="album12" />
            <div class="card-body">
              <h5 class="card-title">Giveon: Take Time</h5>
              <p class="card-text">
                Price: $22.99 <br />
                Genre: RnB <br />
                Tracks: 8 tracks <br />
                Released: 2020
              </p>
              <a href="cart" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
