<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Table</title>
    <link rel="stylesheet" href="/css/theme.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a><a href="/storefront">Storefront</a>
      <a href="/list">List</a>
      <a href="/table">Table</a>
    </nav>
    <div class="table-container">
      <h1>MY TOP THREES</h1>
      <table>
        <caption>
          <b>Table 1: NBA Players</b>
        </caption>
        <thead>
          <tr>
            <th>Name</th>
            <th>Team</th>
            <th>Position</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Nikola Jokić</td>
            <td>Denver Nuggets</td>
            <td>Center</td>
          </tr>
          <tr>
            <td>Scottie Barnes</td>
            <td>Toronto Raptors</td>
            <td>Forward</td>
          </tr>
          <tr>
            <td>Luka Dončić</td>
            <td>Dallas Mavericks</td>
            <td>Point Guard</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
              <em
                >*All these players play in the National Basketball
                Association</em
              >
            </td>
          </tr>
        </tfoot>
      </table>

      <table>
        <caption>
          <b>Table 2: Foods</b>
        </caption>
        <thead>
          <tr>
            <th>Food</th>
            <th>Origin</th>
            <th>Restaurant Link</th>
            <th>Restaurant Location</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Sushi</td>
            <td rowspan="2">Japan</td>
            <td><a href="https://www.kibosushi.com/">Kibo Sushi</a></td>
            <td rowspan="3">Toronto</td>
          </tr>
          <tr>
            <td>Ramen</td>
            <td><a href="https://www.sansotei.com/">Sansotei Ramen</a></td>
          </tr>
          <tr>
            <td>Pizza</td>
            <td>Italy</td>
            <td><a href="https://www.makerpizza.com/">Maker Pizza</a></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <em>*All these restaurants are located in Toronto</em>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </body>
</html>
